@import "@/assets/css/common.scss";

@include b(YUJUN-dialog){
    z-index: 999;
    background-color: #fff;
    // 弹窗标题和取消按钮
    @include e(header){
        padding: 20px 20px 10px;
        display: flex;
        justify-content: space-between;
        @include m(title){
          line-height: 24px;
        }
        @include m(btn){
           cursor: pointer;
        }
    }
    @include e(body){
        padding: 30px 20px;
        // 指定了怎样在单词内断行。
        word-break: break-all;
    }

    @include e(footer){
        padding: 10px 20px 20px;
        text-align: right;
        box-sizing: border-box;
        @include m(confirm){
          margin-left:10px;
        }
    }

}